// <ОБОЛОЧКА>=======================
html {
	color: $black;
	font-size: $fontSize;
	background-color: $white;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&._loaded {}
}

//</ОБОЛОЧКА>=====================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
body {
	font-size: 1.4rem;
	font-family: $font-family-base;
	color: $black;
	font-style: normal;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

h1,h2,h3,h4,h5,h6,.text,.h2,.h3,.h4,.h5,.h6 {	
	line-height: 1.45;
	font-weight: 400;
}
.text{
	display: inline-block;
}

.h3,h3 {
	font-size: 1.8rem;
}

.h4,h4{
	font-size: 1.6rem;
}

.h5,h5 {
	font-size: 1.4rem;
	line-height: 1.5;
}

.h6,h6 {
	font-size: 1.2rem;    
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}