.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: -10px;
    right: 0;
    width: 50px;
    height: 50px;
    // margin-top: calc(0px - 50px / 2);
    background-color: red;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
    }
    &.swiper-button-hidden {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }
    .swiper-navigation-disabled & {
    display: none !important;
    }
    &:after {
    font-family: swiper-icons;
    font-size: 3rem;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    }
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  &:after {
    content: 'prev';
  }
  left: 10px;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  &:after {
    content: 'next';
  }
  right: 10px;
  left: auto;
}

.swiper-button-lock {
  display: none;
}